Repository Simula-24/Simula-24, pull requests merged in 2024-10, with the labels that each got.

#23 Changed cpp standard + added ClientLogger from Issue #5
  .gitignore
  .vscode/c_cpp_properties.json
  simula24/core/log/log.cpp
  simula24/core/log/log.h
Labels: core-progess

#25 added logger doc
  docs/logging.md
Labels: documentation

#26 Added doxygen script
  Doxyfile
Labels: documentation

#28 Add window manager + fixed #20 and fixed #21
  simula24/CMakeLists.txt
  simula24/core/error/error.h
  simula24/core/stl/unordered_map.h
  simula24/graphics/AppWindow.cpp
  simula24/graphics/AppWindow.h
  simula24/graphics/AppWindowMgr.cpp
  simula24/graphics/AppWindowMgr.h
  simula24/graphics/CMakeLists.txt
  simula24/graphics/Graphics.cpp
  simula24/graphics/Graphics.h
  simula24/main/main.cpp
  tests/simula24/template_tests/unordered_map_test.h
Labels: bug, enhancement, core-progess

#31 Queue and priority queue closes #29
  CMakeLists.txt
  simula24/core/stl/max_heap.h
  simula24/core/stl/priority_queue.h
  simula24/core/stl/unordered_map.h
  simula24/main/main.cpp
  tests/simula24/simula24_tests.h
  tests/simula24/template_tests/pq_test.h
Labels: core-progess

#35 Basic Object database + reorganization
  data/graphics/fallback/object_graphics.conf
  docs/diagrams/save/Texture Access.drawio
  docs/diagrams/save/smcore.drawio
  simula24/CMakeLists.txt
  simula24/app/Application.cpp
  simula24/app/Application.h
  simula24/app/CMakeLists.txt
  simula24/app/object/ObjectTable.cpp
  simula24/app/object/ObjectTable.h
  simula24/core/stl/array.h
  simula24/core/stl/unordered_map.h
  simula24/game/CMakeLists.txt
  simula24/graphics/CMakeLists.txt
  simula24/graphics/tile/CMakeLists.txt
  simula24/graphics/tile/TileConfig.cpp
  simula24/graphics/tile/TileConfig.h
  simula24/graphics/tile/TileSheet.cpp
  simula24/graphics/tile/TileSheet.h
  simula24/graphics/tile/TileSheetParser.cpp
  simula24/graphics/tile/TileSheetParser.h
  simula24/main/main.cpp
  simula24/math/CMakeLists.txt
  simula24/math/Point.cpp
  simula24/math/Point.h
  simula24/smcore/Simulation.h
  simula24/smcore/entity/Civilian.h
  simula24/smcore/map/ObjectMap.h
  simula24/smcore/path/AStar.h
Labels: core-progess

#36 Pathfinding Update
  docs/diagrams/save/smcore.drawio
  simula24/Application.cpp
  simula24/Application.h
  simula24/CMakeLists.txt
  simula24/app/Application.cpp
  simula24/app/CMakeLists.txt
  simula24/core/log/log.h
  simula24/core/stl/copy_on_write.h
  simula24/core/stl/iterator.h
  simula24/core/stl/priority_queue.h
  simula24/core/stl/smart_ptr.h
  simula24/core/stl/unordered_map.h
  simula24/graphics/CMakeLists.txt
  simula24/graphics/TileDatabase.h
  simula24/graphics/renderer/RenderManager.cpp
  simula24/graphics/renderer/RenderManager.h
  simula24/graphics/tile/TileSheet.h
  simula24/main/main.cpp
  simula24/math/Point.h
  simula24/objectmanager/CMakeLists.txt
  simula24/objectmanager/ObjectManager.cpp
  simula24/objectmanager/ObjectManager.h
  simula24/objectmanager/ObjectTable.cpp
  simula24/objectmanager/ObjectTable.h
  simula24/smcore/CMakeLists.txt
  simula24/smcore/Simulation.cpp
  simula24/smcore/Simulation.h
  simula24/smcore/map/NeighborMap.h
  simula24/smcore/map/ObjectMap.cpp
  simula24/smcore/map/ObjectMap.h
  simula24/smcore/path/AStar.cpp
  simula24/smcore/path/AStar.h
  tests/simula24/template_tests/pq_test.h
  tests/simula24/template_tests/unordered_map_test.h
  tests/test_main.cpp
Labels: core-progess
